.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .admin-blog-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .new-blog-link {
        position: fixed;
        right: 0;
        top: calc(100vh / 2);

        a {
            font-size: 2.5em;
            cursor: pointer;
            color: $teal;
            margin-right: 20px;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-teal
            }
        }
    }

    .content-container{
        display: flex;
        flex-direction: column;
        width: 800px;

        h1 {
            color: $blue;
            font-size: 1.3em;
        }

        a {
            text-decoration: none;
            color: orangered;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $warning;
            }
        }

        .featured-image-container {
            img {
                margin: 15px 0px;
                width: 350px;
                height: 350px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
}